@CHARSET "ISO-8859-1";

body{
	margin-top:	 60px; /* margin for fixed-on-top navbar */
}


/**
 * CSS for the nested list group
 */
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .fa {
    margin-right: 5px;
}

.studeo-exams-list {
	margin-bottom: 0px;
}

.studeo-exam-item {
	border-radius:0px 0px 4px 4px !important;
}
.studeo-solution-item:last-child {
	border-radius:0px 0px 4px 4px !important;
}

/**
 * CSS for course view page
 */
.studeo-course-detail h3 {
	margin-top: 0px;
}

img.studeo-course-logo { 
	width: 128px;
	height: 128px;
}

/**
 * Other css elements
 */
.link-button, .studeo-action-button {
	margin-left: 5px;
}