@CHARSET "ISO-8859-1";
/**
 * This file contains css customizations. As the code grows larger, it may be appropriate to split this file in multiple files
 */

body{
	margin-top:	 60px; /* margin for fixed-on-top navbar */
}

.article-header {
	padding: 10px;
}

.course-name {
	//font-weight: bold;
	font-size: 1.2em;
}

tr.courses-table-header {
	font-size:1.2em;
}

/* Classes used in the dynamic list-tree view (used in courses/view, for example ) */
span.indent-1{
	padding-left: 25px;
}

span.indent-2{
	padding-left: 50px;
}

